@using Microsoft.AspNet.Identity
@model DocumentSimilarity.Models.ManageUserViewModel

<p style="font-family:WYekan">You with username <strong>@User.Identity.GetUserName()</strong> You are logged in. </p>



@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", style="font-family: WYekan;" }))
{
      @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()

<div>
    <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
Password change form
                      </h3>
                </div>
                <div class="panel-body">
                    <fieldset style="width: 90%; margin: auto;">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                <br>
                                <img src="~/Images/changepassword2.jpg" />
                            </div>
                            <div style="margin-top:40px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                                <div class="form-group">
                                    <div class="input-group" dir="ltr">

                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "'The current password", dir = "rtl" })
                                        <i class="input-group-addon fa fa-lock">
                                        </i>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="input-group" dir="ltr">

                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password", dir = "rtl" })
                                        <i class="input-group-addon fa fa-sign-in">
                                        </i>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="input-group" dir="ltr">

                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat the new password", dir = "rtl" })
                                        <i class="input-group-addon fa fa-sign-in">
                                        </i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-primary" type="submit">
                                <span class="btn-save-label"></span>change password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
}
  
      
