@model List<DocumentSimilarity.Models.ResearchDocument>

@{
    ViewBag.Title = "advanced search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section scripts{

    <script language="javascript" type="text/javascript">
        function isAllUncheck() {

            return (!$("#Title_check").prop("checked") && !$("#Abstract_check").prop("checked") && !$("#Authors_check").prop("checked") && !$("#Keywords_check").prop("checked") && !$("#Year_check").prop("checked"));
        }
        function EnableDisableTXT(checkbox) {

            var chekid = checkbox.id;
            var filed = chekid.substr(0, chekid.indexOf('_'));
            var textboxid = filed + "txt";
            var comboid = filed + "combo";
            var textbox = document.getElementById(textboxid);
            var combo = document.getElementById(comboid);
            if (checkbox.checked) {
                textbox.disabled = false;
                //  document.getElementById("Bodytxt").value = "";
                document.getElementById("Bodytxt").disabled = true;
                document.getElementById("Bodycombo").disabled = true;
            }
            else {
                textbox.disabled = true;
                textbox.value = "";
                if (isAllUncheck()) {
                    document.getElementById("Bodytxt").disabled = false;
                    document.getElementById("Bodycombo").disabled = false;
                }

            }

            if (checkbox.checked) {
                combo.disabled = false;

            }
            else {

                combo.disabled = true;
                combo.sel;
            }

            if (!textbox.disabled) {
                textbox.focus();
            }

        }



        $(document).ready(function () {
            $('#myDataTable').dataTable({
                language: {
                    processing: "processing...",
                    lengthMenu:"Show contents of _MENU_",
                    zeroRecord:"Nothing found",
                    info: "Display _START_ to _END_ of total _TOTAL_ items.",
                    infoEmpty: "Empty",
                    infoFiltered:"(filtered from total _MAX_ items)",
                    infoPostFix: "",
                    search: "search:",
                    url: "",
                    paginate: {
                        first: "first ",
                        previous: "previous ",
                        next: "next ",
                        last: "last "
                    }
                }
            });

        });

    </script>
<script>
    function EnableDisableTXT(checkbox) {

        var chekid = checkbox.id;
        var filed = chekid.substr(0, chekid.indexOf('_'));
        var textboxid = filed + "txt";
        var comboid = filed + "combo";
        var textbox = document.getElementById(textboxid);
        var combo = document.getElementById(comboid);
        if (checkbox.checked) {
            textbox.disabled = false;
            //  document.getElementById("Bodytxt").value = "";
            document.getElementById("Bodytxt").disabled = true;
            document.getElementById("Bodycombo").disabled = true;
            document.getElementById("adv-search-submit1").disabled = false;


        }
        else {
            textbox.disabled = true;
            textbox.value = "";
            if (isAllUncheck()) {
                document.getElementById("Bodytxt").disabled = false;
                document.getElementById("Bodycombo").disabled = false;
                document.getElementById("adv-search-submit1").disabled = true;


            }

        }

        if (checkbox.checked) {
            combo.disabled = false;

        }
        else {

            combo.disabled = true;
            combo.sel;
        }

        if (!textbox.disabled) {
            textbox.focus();
        }

    }
</script>



}







<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="WYekan-font" data-parent="#accordion" data-target="#collapseOne">
                   New search
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container bootstrap snippet" style="width:inherit; font-family:WYekan" dir="rtl">
                    <form role="form" method="post">
                        <div class="row">
                            <div dir="ltr" style="margin-bottom:60px">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <div class="input-group form-group" dir="ltr" style="margin-left: 10px; margin-right: 10px; margin-top: 5%">
                                            <select style="height:40px;text-align:right;" id="Bodycombo" name="Bodycombo" class="form-control dropdown-toggle">
                                                <option value="0" selected="">contain at least one word of the phrase</option>
                                                <option value="1">Include all the words in the phrase</option>
                                                <option value="2">contain the same phrase</option>
                                            </select>
                                            <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                <label aria-label="Checkbox for following text input">Filter by:</label>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="imaginary_container" style="margin-top:5%">
                                            <div style="width: 100%; height:50px;text-align:center ;margin:auto" class="input-group stylish-input-group">
                                                <input style=" height:50px;" name="Bodytxt" id="Bodytxt" class=" form-control" placeholder="Search in the body of the document" dir="rtl" type="text">
                                                <span class="input-group-addon">
                                                    <button type="submit">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter-panel" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-cog"></span> جستجوی پیشرفته
                            </button>
                           
                            <div id="filter-panel" class="collapse filter-panel">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align:center">
                                        <h4 style="font-family:WYekan; align-content:center">By selecting each checkbox, you can apply the corresponding field and filter in your search.</h4>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                   <select style="height:40px;text-align:right;" id="Bodycombo" name="Bodycombo" class="form-control dropdown-toggle">
                                                        <option value="0" selected="">contain at least one word of the phrase</option>
                                                        <option value="1">Include all the words in the phrase</option>
                                                        <option value="2">contain the same phrase</option>
                                                    </select>
                                                    <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                        <label aria-label="Checkbox for following text input">Filter by:</label>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <input class="form-control" disabled name="Titletxt" id="Titletxt" placeholder="Title of the document (article/dissertation) " dir="rtl" aria-label="Text input with radio button" type="text">
                                                    <span class="input-group-addon">
                                                        <input id="Title_check" name="Title_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input" type="checkbox">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="text-align: center;" class="col-md-12 form-group">
                                                <div dir="rtl" class="form-group" style="">
                                                    <label style="margin-left: 20px;"><input name="Authorsradio" value="MUST" style="margin-left:5px" type="radio">And</label>
                                                    <label class=""><input name="Authorsradio" value="SHOULD" checked style="margin-left:5px" type="radio">Or</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <select id="Authorscombo" style="height:40px;text-align:right;" disabled class="form-control dropdown-toggle" name="Authorscombo">
                                                        <option value="0" selected="">contain at least one word of the phrase</option>
                                                        <option value="1">Include all the words in the phrase</option>
                                                        <option value="2">contain the same phrase</option>
                                                    </select>
                                                    <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                        <label aria-label="Checkbox for following text input">Filter by:</label>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <input class="form-control" disabled id="Authorstxt" name="Authorstxt" placeholder="Author's name " dir="rtl" aria-label="Text input with radio button" type="text">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" id="Authors_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="text-align: center;" class="col-md-12 form-group">
                                                <div dir="rtl" class="form-group" style="">
                                                    <label style="margin-left: 20px;"><input name="Keywordsradio" value="MUST" style="margin-left:5px" type="radio">And</label>
                                                    <label class=""><input name="Keywordsradio" value="SHOULD" checked style="margin-left:5px" type="radio">Or</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <select id="Keywordscombo" style="height:40px;text-align:right;" disabled class="form-control dropdown-toggle" name="Keywordscombo">
                                                        <option value="0" selected="">contain at least one word of the phrase</option>
                                                        <option value="1">Include all the words in the phrase</option>
                                                        <option value="2">contain the same phrase</option>
                                                    </select>
                                                    <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                        <label aria-label="Checkbox for following text input">Filter by:</label>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <input class="form-control" disabled id="Keywordstxt" name="Keywordstxt" placeholder="key words" dir="rtl" aria-label="Text input with radio button" type="text">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" id="Keywords_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="text-align: center;" class="col-md-12 form-group">
                                                <div dir="rtl" class="form-group" style="">
                                                    <label style="margin-left: 20px;"><input name="Yearradio" value="MUST" style="margin-left:5px" type="radio">\And</label>
                                                    <label class=""><input name="Yearsradio" value="SHOULD" checked style="margin-left:5px" type="radio">Or</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <select id="Yearcombo" disabled style="height:40px;text-align:right;" class="form-control dropdown-toggle" name="Yearcombo">
                                                        <option value="0" selected="">contain at least one word of the phrase</option>
                                                        <option value="1">Include all the words in the phrase</option>
                                                        <option value="2">contain the same phrase</option>
                                                    </select>
                                                    <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                        <label aria-label="Checkbox for following text input">Filter by:</label>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <input class="form-control" disabled name="Yeartxt" id="Yeartxt" placeholder="year of publication" dir="rtl" aria-label="Text input with radio button" type="text">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" id="Year_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="text-align: center;" class="col-md-12 form-group">
                                                <div dir="rtl" class="form-group" style="">
                                                    <label style="margin-left: 20px;"><input name="Abstractradio" value="MUST" style="margin-left:5px" type="radio">And</label>
                                                    <label class=""><input name="Abstractradio" value="SHOULD" checked style="margin-left:5px" type="radio">Or</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6  form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <select id="Abstractcombo" style="height:40px;text-align:right;" disabled class="form-control dropdown-toggle" name="Abstractcombo">
                                                        <option value="0" selected="">contain at least one word of the phrase</option>
                                                        <option value="1">Include all the words in the phrase</option>
                                                        <option value="2">contain the same phrase</option>
                                                    </select>
                                                    <span class="input-group-addon" style="background-color: white; border: none; height: 40px;height:40px; direction: rtl;">
                                                        <label aria-label="Checkbox for following text input">Filter by:</label>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <div class="input-group form-group" dir="ltr" style="margin-left:10px;margin-right:10px">
                                                    <input class="form-control" disabled="" id="Abstracttxt" name="Abstracttxt" placeholder="Abstract" dir="rtl" aria-label="Text input with radio button" type="text">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" id="Abstract_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <button type="submit" disabled id="adv-search-submit1" class="btn btn-default" style="margin-bottom:10px">
                                جستجو
                            </button>
                        </div>


                    </form>
                </div>            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                <a class="accordion-toggle WYekan-font">
                   search result
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="table-responsive" style="font-family:WYekan">
                    <table id="myDataTable" class="display table table-striped table-bordered table-condensed" style="font-family:b Nazanin; ">
                        <thead>
                            <tr style="font-family:'B Titr'">
                                <th>document name</th>

                                <th>Title</th>
                                <th>Author</th>
                                <th>Abstract</th>
                                <th>key words</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var idList = (Dictionary<string, int>)Session["docID"];

                                var authorList = (from a in item.Authors select a.Name).ToList();
                                var authorsName = new Dictionary<string, string>();
                                var count = 0;
                                var name = "";
                                foreach (var a in authorList)
                                {
                                    name += a;
                                    count++;
                                    if (count >= 1 && count < authorList.Count())
                                    {
                                        name += " ، ";
                                    }
                                }
                                authorsName.Add(item.Name, name + " ، ");

                                <tr id="@idList[item.Name.ToString()]">
                                    <td>@Html.ActionLink(item.Name, "Download", new { docName = item.Name, strType = item.Type })</td>

                                    <td width="25%">@item.Title</td>
                                    <td width="15%">@authorsName[item.Name.ToString()]</td>
                                    <td width="25%">
                                        @{if (item.Abstract.Length > 210)
                                        {
                                            var content = item.Abstract.Substring(0, 200) + "....";
                                            @content
                                        }
                                        else
                                        {
                                            @item.Abstract
                                        }
                                        }
                                    </td>
                                    <td width="20%">@item.Keywords</td>



                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="
                         " />
                </div>            </div>
        </div>
    </div>
    
</div>
