@model List<DocumentSimilarity.Models.ResearchDocument>
      
@{
    ViewBag.Title = "Display documents indexed in the document repository";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script language="javascript" type="text/javascript">

      

        $(document).ready(function () {
           
            $('#myDataTable').dataTable({
                language: {
                   processing: "processing...",
                    lengthMenu:"Show contents of _MENU_",
                    zeroRecord:"Nothing found",
                    info: "Display _START_ to _END_ of total _TOTAL_ items.",
                    infoEmpty: "Empty",
                    infoFiltered:"(filtered from total _MAX_ items)",
                    infoPostFix: "",
                    search: "search:",
                    url: "",
                    paginate: {
                        first: "first ",
                        previous: "previous ",
                        next: "next ",
                        last: "last "
                    }
                }
            });
        });
    </script>

}

<div class="table-responsive" style="font-family:WYekan">
    <table id="myDataTable" class="display table table-striped table-bordered table-condensed" style="font-family:b Nazanin; ">
        <thead>
            <tr style="font-family:'B Titr'">
                <th>Document Name</th>
                <th>Title</th>
                <th>Author</th>
                <th>Abstract</th>
                <th>Key words </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var idList = (Dictionary<string, int>)Session["docID"];
               
                var authorList = (from a in item.Authors select a.Name).ToList();
                var authorsName =new Dictionary<string,string>();
                var count = 0;
                var name="";
                foreach (var a in authorList)
                {
                    name += a;
                    count++;
                    if (count >= 1 && count < authorList.Count())
                    {
                        name += " ، ";
                    }
                }
                authorsName.Add(item.Name, name + " ، ");
               
                
                <tr id="@idList[item.Name.ToString()]">
                    <td>@Html.ActionLink(item.Name, "Download", new{docName=item.Name,strType=item.Type })</td>
                    <td width="25%">@item.Title</td>
                    <td width="15%">@authorsName[item.Name.ToString()]</td>
                    
                                
                
                    <td width="25%">
                        @{if (item.Abstract.Length > 210)
                        {
                            var content = item.Abstract.Substring(0, 200) + "....";
                            @content
                        }
                        else
                        {
                            @item.Abstract
                        }
                        }


                    </td>
                    <td width="20%">@item.Keywords</td>
                    



                </tr>
            }
        </tbody>
    </table>
    <div class="add_delete_toolbar" />
</div>


@section endscripts{

    <script language="javascript" type="text/javascript">



        $(document).ready(function () {
           
            $("#btnDeleteRow").html('Delete document')
        

        });

    </script>

}
