@model DocumentSimilarity.Models.ResearchDocument

@{
    ViewBag.Title = "Determining the degree of similarity of documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script>
   
    $("#fileuns").fileinput({
        type: 'POST',
        language: 'fa1',
       // uploadUrl: '@Url.Action("UploadFile","Home")',
        uploadExtraData: { 'operation': "SimilarityDetection" },
        allowedFileExtensions: ["doc", "docx"]
    });

    $("#filestr").fileinput({
        type: 'POST',
        language: 'fa1',
       // uploadUrl: '@Url.Action("UploadFile","Home")',
        uploadExtraData: {'Operation':"SimilarityDetection"},
        allowedFileExtensions: ["doc", "docx"]
    });


 

  

</script>
    }
  
 
   <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs navbar-right">
        <li class="active">
            <a href="#structureTab" data-toggle="tab">Structured documents</a>
        </li>
        <li>
            <a href="#UnstructureTab" data-toggle="tab">Unstructured documents</a>
        </li>

    </ul>
       
    <!-- Tab panes -->
    <div class="tab-content navbar-right" style="font-family:WYekan">
        <div id="structureTab" class="tab-pane fade in active">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Dissertations and structured articles</h4>
                    <p>Dissertations and structured articles are those documents that have specific and predetermined sections. These sections include the title, author, abstract, keywords and introduction, which are specified using specific and predetermined expressions in the relevant document.</p>
                </div>
            </div>

            <hr />
@using (Html.BeginForm("Similarity", "Home", new { FileType = "Structural" }, FormMethod.Post,
                   new { enctype = "multipart/form-data", style = "direction:ltr;width:500px;margin:auto;" ,id="SubmitStructuralFile"}))
{

            <div class="row">
                <div class="col-lg-12">
                        <div style="text-align:center">Please select and upload your structured document (dissertation/dissertation): </div>
                    <br />

                   
                    <input id="filestr" type="file" name="file"  class="file file-loading" style="font-size:14px;" />

                        <div class="err" style="padding-top:7px;direction:rtl">
                            @ViewBag.error

                        </div>
                    
                </div>
            </div>
            <div class="row">
                <div  dir="rtl" style="width:450px;margin:auto;text-align:right">

                    
                    <div class="col-lg-6">
                        <select name="SimilarityFilterCombo" class="selectpicker show-menu-arrow form-control" multiple data-max-options="4" style="border-radius: 5px;text-align:right;direction:rtl">
                            <option value=" Title" selected>
                               Similarity in the title of the document
                            </option>
                            <option value="Authors">Similarity in the author of the document</option>
                            <option value="Keywords">Similarity in the key words of the document</option>
                            <option value="Abstract"> Similarity in the abstract</option>
                            <option value="Body">Similarity in the body of the document</option>
                            <option value="All">Similarity throughout the document</option>
                        </select>
                    </div>
                    
                    <div class="col-lg-6" style="text-align:left">
                      Filter by:
                    </div>

                </div>

                
                <div class="checkbox" id="CheckStr" style="font-family: WYekan; text-align: center;float:right; display:block;direction:rtl">
                    <label>
                        The compared document should be added to the document repository.
                        @Html.CheckBox("MustBeIndexCheckBox", true, new { style = "font-family:WYekan,margin:auto", id = "MustBeIndexCheckBox" });
                    </label>
                </div>
               
                
            </div>
}
        </div>             
           
        <div id="UnstructureTab" class="tab-pane fade ">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Dissertations and articles without a clear structure</h4>
                    <p>Dissertations and articles without a specific structure are those documents that either do not include predetermined and specific sections, or their content sections are not specified using specific and predefined expressions. Therefore, it is mandatory that the contents of its sections are entered by the user appropriately.</p>
                </div>
            </div>

            <hr />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class = " control-label" }):
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Title, new { @class = "col-md-20 form-control", placeholder = "Title", style = "width:500px" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Authors[0].Name, new { @class = " control-label" }):
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Authors[0].Name, new { @class = "col-md-20 form-control", placeholder = "Name of Author", style = "width:500px" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Keywords, new { @class = " control-label" }):
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Keywords, new { @class = "col-md-20 form-control", placeholder = "Key words ", style = "width:500px" })
                          
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Year, new { @class = " control-label" }):
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Year, new { @class = "col-md-20 form-control", placeholder = "year of writing  ", style = "width:500px" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Abstract, new { @class = " control-label" }):
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Abstract, 10, 10, new { @class = "col-md-20 form-control", placeholder = "Abstract", style = "width:80%" })
                            

                        </div>
                    </div>

                </div>
            </div>
            <br />
@using (Html.BeginForm("Similarity", "Home", new { FileType = "Unstructural" }, FormMethod.Post,
                   new { enctype = "multipart/form-data", style = "direction:ltr;width:500px;margin:auto;" }))
{
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align:center;float:none">Please select and upload your unstructured document (essay/dissertation): </div>
                    <br />
                   

    <input id="fileuns" type="file" name="file" class="file file-loading"  style="font-size:14px;"  />

                        <div class="err" style="padding-top:7px;direction:rtl">
                            @ViewBag.error

                        </div>
                    
                </div>
            </div>
            <div class="row">
                <div dir="rtl" style="width:200px;margin:auto;text-align:right">
                    Filter by:

                    <select name="SimilarityFilterCombo" class="selectpicker show-menu-arrow form-control" multiple data-max-options="4" style="border-radius: 5px;text-align:right;direction:rtl">
                        <option value=" Title" selected>
                           Similarity in the title of the document
                        </option>
                            <option value="Authors">Similarity in the author of the document</option>
                            <option value="Keywords">Similarity in the key words of the document</option>
                            <option value="Abstract"> Similarity in the abstract</option>
                            <option value="Body">Similarity in the body of the document</option>
                            <option value="All">Similarity throughout the document</option>
                    </select>

                </div>

                <div class="checkbox" id="CheckUns"  style="font-family: WYekan; text-align: center;direction:rtl">
                    <label>
                        The compared document should be added to the document database.
                        @Html.CheckBox("MustBeIndexCheckBox", true, new { style = "font-family:WYekan,margin:auto", id = "DocumentSavingUns" });
                    </label>
                </div>
                
            </div>
}
        </div>

               </div>

           </div>


